*.log
*~
tags
/build-*
softwares
dumps
.project
.idea/
GameController*
logs/
node_modules/
.vscode/
# extra software we build like valgrind & flite
/image/home/nao/2.8
/image/data
*.bbd2*
.DS_Store
/image/home/nao/make.sync.metadata
/image/home/nao/runswift.build.time
/image/home/nao/runswift.commit.sha
intellisense/include
containers/robot/root.tgz
image.build.time
image.commit.sha

venv/
build/
vision_models/build
vision_models/dataset*
vision_models/install
vision_models/log
rosbag*
secrets/
ds/